html {
  --lp-color-black: #000;
  --lp-color-white: #fff;
  --lp-color-bg-white: #fcfcfc;
  --lp-color-border-white: #ececec;
  --lp-color-orange: #fe883d;
  --lp-color-pink: #fb3596;
  --lp-color-purple: #eb00fa;
}

body {
  color: var(--lp-color-black);
  font-family: "Noto Sans JP", sans-serif;
  position: relative;
}
body.is_active {
  overflow: hidden;
}

img {
  user-select: none;
  vertical-align: bottom;
  width: 100%;
  max-width: fit-content;
  height: auto;
}

a {
  transition: 0.4s color;
}
a:hover {
  color: var(--lp-color-pink);
}

/* ===============================

SPレイアウト_START

=============================== */

/* -------------------------------
  サイト共通コンポーネント_START
------------------------------- */
.common__logo {
  font-size: clamp(16px, 2.4vw, 20px);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.common__button {
  background-color: var(--lp-color-white);
  border-radius: 1000px;
  font-size: clamp(14px, 2.4vw, 20px);
  font-weight: 700;
  text-align: center;
  display: block;
  padding: 1em 1.5em;
  width: fit-content;
}

.common__catchBlock {
  margin-bottom: 8%;
}
.common__catchBlock > *:not(:last-child) {
  margin-bottom: 4%;
}

.common__gradient__anchor {
  text-align: center;
}

.common__gradientHeader {
  background: linear-gradient(
    45deg,
    var(--lp-color-orange) -4.51%,
    var(--lp-color-pink) 46.93%,
    var(--lp-color-purple) 98.38%
  );
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: clamp(30px, 9vw, 48px);
  font-weight: 500;
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  width: 100%;
}
/* -------------------------------
  サイト共通コンポーネント_END
------------------------------- */

/* -------------------------------
  ヘッダー_START
------------------------------- */
.l-header {
  animation: headerSlideIn 0.4s ease-in-out forwards;
  background-color: transparent;
  transition: background-color 0.4s ease-in-out;
  position: fixed;
  top: -100px;
  left: 0;
  z-index: 10;
  width: 100%;
}
.l-header.is_scrolled {
  backdrop-filter: blur(1px);
}

@keyframes headerSlideIn {
  0% {
    top: -100px;
  }
  100% {
    top: 0;
  }
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: 0 auto;
  padding: 1em 1.5em;
  width: 100%;
  max-width: 1280px;
}

.header__logo {
  text-shadow: 0 0 5px var(--lp-color-white);
  transition: 0.4s color;
  position: relative;
  z-index: 12;
  width: fit-content;
}

.header__logo a {
  color: var(--lp-color-black);
  display: flex;
  font-size: clamp(14px, 2vw, 20px);
  align-items: center;
  justify-self: start;
  gap: 0.5em;
}
body.is_active .header__logo a {
  color: var(--lp-color-white);
}

.header__list {
  background-color: var(--lp-color-black);
  color: var(--lp-color-white);
  font-size: clamp(16px, 2vw, 18px);
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  gap: 4em;
  transition: 0.4s transform;
  transform: translateX(100vw);
  opacity: 0;
  z-index: 11;
  width: 100vw;
  height: 100vh;
}
body.is_active .header__list {
  transform: translateX(0);
  opacity: 1;
}

.header__list > li {
  text-shadow: 0 0 4px var(--lp-color-white);
}

.header__list .common__button {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: var(--lp-color-black);
  font-size: clamp(14px, 2.4vw, 16px);
  padding: 1.5em;
}
.header__list .common__button:hover {
  color: var(--lp-color-pink);
}

.header__hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 3px;
  position: relative;
  z-index: 12;
  width: 20px;
}

.header__hamburger > span {
  background-color: var(--lp-color-black);
  border-radius: 6px;
  box-shadow: 0 0 1px var(--lp-color-white);
  transition: transform 0.4s ease, opacity 0.4s ease, background-color 0.4s ease;
  width: 100%;
  height: 3px;
}
body.is_active .header__hamburger > span {
  background-color: var(--lp-color-white);
}
body.is_active .header__hamburger > span:nth-of-type(1) {
  transform: translateY(6px) rotate(45deg);
}
body.is_active .header__hamburger > span:nth-of-type(2) {
  opacity: 0;
}
body.is_active .header__hamburger > span:nth-of-type(3) {
  transform: translateY(-6px) rotate(-45deg);
}
/* -------------------------------
  ヘッダー_END
------------------------------- */

/* -------------------------------
  メインコンテンツ共通_START
------------------------------- */
.pages {
  position: relative;
}

/* 暫定付与 */
.section {
  min-height: 500px;
  max-height: fit-content;
}

/* 暫定付与 */
.section:nth-of-type(odd) {
  background-color: #dfdfdf;
}

/* 暫定付与 */
.section__inner {
  margin: 0 auto;
  width: calc(100% - 3em);
  max-width: 1280px;
}
/* -------------------------------
  メインコンテンツ共通_END
------------------------------- */

/* -------------------------------
  ヒーローイメージ_START
------------------------------- */
.hero {
  background-image: url("../images/hero.png");
  background-size: cover;
  background-position: bottom 30% center;
  display: flex;
  justify-content: center;
  height: 60vh;
}

.hero__inner,
.hero__block {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column wrap;
}

.hero__inner {
  justify-content: space-evenly;
}

.hero__block {
  justify-content: center;
  padding-top: 5em;
}

.hero__catchCopy {
  color: var(--lp-color-white);
  text-align: center;
  margin-bottom: 15%;
}

.hero__catchCopy > * {
  text-shadow: 0 0 25px var(--lp-color-black);
}

.hero__header {
  font-size: clamp(30px, 6vw, 48px);
  font-weight: bold;
  margin-bottom: 5%;
}

.hero__text {
  font-size: clamp(20px, 3.5vw, 24px);
}

/* -------------------------------
  ヒーローイメージ_END
------------------------------- */

/* -------------------------------
  サービス_START
------------------------------- */
.service {
  background-color: var(--lp-color-black);
  color: var(--lp-color-white);
}

/* 暫定付与 */
.service__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  margin: 0 auto;
  width: 50%;
}
.service__list > li {
  width: 44%;
}
.service__list img {
  border-radius: 8px;
}
/* -------------------------------
  サービス_END
------------------------------- */

/* -------------------------------
  フッター_START
------------------------------- */
.l-footer {
  background-color: var(--lp-color-black);
  color: var(--lp-color-white);
  width: 100%;
  height: auto;
}

.footer__inner {
  margin: 0 auto;
  width: calc(100% - 3em);
  max-width: 1280px;
}
/* -------------------------------
  フッター_END
------------------------------- */

/* ===============================

SPレイアウト_END

=============================== */

/* ===============================

PCレイアウト_START

=============================== */
@media screen and (min-width: 768px) {
  /* -------------------------------
    サイト共通コンポーネント_START
  ------------------------------- */
  .section__inner {
    padding: 50px 100px;
  }

  .common__button {
    padding: 1em 1.5em;
  }

  .common__catchBlock {
    margin-bottom: 50px;
  }

  .common__catchBlock > *:not(:last-child) {
    margin-bottom: 10px;
  }

  .common__gradientHeader {
    font-size: 36px;
  }
  /* -------------------------------
    サイト共通コンポーネント_END
  ------------------------------- */

  /* -------------------------------
    ヘッダー_START
  ------------------------------- */
  .header__hamburger {
    display: none;
  }

  .header__list {
    background: none;
    color: var(--lp-color-black);
    flex-direction: row;
    gap: 1.5em;
    transform: none;
    opacity: 1;
    visibility: visible;
    position: static;
    width: auto;
    height: auto;
  }

  .header__list .common__button {
    color: var(--lp-color-black);
    padding: 0.5em 1.5em;
  }
  /* -------------------------------
    ヘッダー_END
  ------------------------------- */

  /* -------------------------------
    ヒーローイメージ_START
  ------------------------------- */
  .hero {
    background-position: top 40% center;
    height: 100vh;
  }

  .hero__header {
    margin-bottom: 25px;
  }

  .hero__catchCopy {
    margin-bottom: 75px;
  }
  /* -------------------------------
    ヒーローイメージ_END
  ------------------------------- */

  /* -------------------------------
    サービス_START
  ------------------------------- */
  /* -------------------------------
    サービス_END
  ------------------------------- */

  /* -------------------------------
    フッター_START
  ------------------------------- */
  .footer__inner {
    padding: 50px 100px;
  }
  /* -------------------------------
    フッター_END
  ------------------------------- */
}

/* ===============================

PCレイアウト_END

=============================== */
