/* -------------------------------
  ページ共通スタイル_START
------------------------------- */
:root {
  --lp-color-black: 28, 28, 28;
  --lp-color-dark-gray: 93, 93, 93;
  --lp-color-white: 255, 255, 255;
  --lp-color-bg-white: 245, 245, 245;
  --lp-color-border-white: 237, 237, 237;
  --lp-color-orange: 254, 136, 62;
  --lp-color-pink: 251, 55, 150;
  --lp-color-purple: 233, 0, 250;
}

body {
  color: rgb(var(--lp-color-black));
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.5;
  position: relative;
  overflow: visible;
}
body.is_active {
  overflow: hidden;
}

img {
  user-select: none;
  vertical-align: bottom;
  width: 100%;
  height: auto;
}

a {
  transition: 0.4s color;
}
a:hover {
  color: rgb(var(--lp-color-pink));
}
/* -------------------------------
  ページ共通スタイル_END
------------------------------- */

/* ===============================

SPレイアウト_START

=============================== */

/* -------------------------------
  サイト共通コンポーネント_START
------------------------------- */
.common__logo {
  font-size: clamp(16px, 2.4vw, 20px);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.common__button {
  background-color: rgb(var(--lp-color-white));
  border-radius: 1000px;
  font-size: clamp(16px, 2.4vw, 20px);
  font-weight: 700;
  text-align: center;
  display: block;
  padding: 1em 1.5em;
  width: fit-content;
}

.common__catchBlock {
  margin-bottom: 8%;
}

.common__catchBlock__text {
  font-size: clamp(16px, 4vw, 18px);
}

.common__gradient__anchor {
  text-align: center;
}
.common__gradient__anchor > *:not(:last-child) {
  margin-bottom: 1%;
}

.common__gradient__header {
  background: linear-gradient(
    45deg,
    rgb(var(--lp-color-orange)) -4.51%,
    rgb(var(--lp-color-pink)) 46.93%,
    rgb(var(--lp-color-purple)) 98.38%
  );
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: clamp(30px, 9vw, 36px);
  font-weight: 500;
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  width: 100%;
}
/* -------------------------------
  サイト共通コンポーネント_END
------------------------------- */

/* -------------------------------
  ヘッダー_START
------------------------------- */
.l-header {
  animation: headerSlideIn 0.4s ease-in-out forwards;
  background-color: transparent;
  transition: background-color 0.4s ease-in-out;
  position: fixed;
  top: -100px;
  left: 0;
  z-index: 10;
  width: 100%;
}
.l-header.is_scrolled {
  backdrop-filter: blur(1px);
  background-color: rgba(var(--lp-color-white), 0.6);
}

@keyframes headerSlideIn {
  0% {
    top: -100px;
  }
  100% {
    top: 0;
  }
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin: 0 auto;
  padding: 1em;
  width: 100%;
  max-width: 1280px;
}

.header__logo {
  text-shadow: 0 0 5px rgb(var(--lp-color-white));
  transition: 0.4s color;
  position: relative;
  z-index: 12;
  width: fit-content;
}

.header__logo a {
  color: rgb(var(--lp-color-black));
  display: flex;
  font-size: clamp(16px, 2vw, 20px);
  align-items: center;
  justify-self: start;
  gap: 0.5em;
}
body.is_active .header__logo a {
  color: rgb(var(--lp-color-white));
}

.header__list {
  background-color: rgb(var(--lp-color-black));
  color: rgb(var(--lp-color-white));
  font-size: clamp(16px, 2vw, 18px);
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  gap: 4em;
  transition: 0.4s transform;
  transform: translateX(100vw);
  opacity: 0;
  z-index: 11;
  width: 100vw;
  height: 100vh;
}
body.is_active .header__list {
  transform: translateX(0);
  opacity: 1;
}

.header__list > li {
  text-shadow: 0 0 4px rgb(var(--lp-color-white));
}

.header__list .common__button {
  box-shadow: 0 0 10px rgba(var(--lp-color-black), 0.1);
  color: rgb(var(--lp-color-black));
  font-size: clamp(14px, 2.4vw, 16px);
  padding: 1.5em;
}
.header__list .common__button:hover {
  color: rgb(var(--lp-color-pink));
}

.header__hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 3px;
  position: relative;
  z-index: 12;
  width: 20px;
}

.header__hamburger > span {
  background-color: rgb(var(--lp-color-black));
  border-radius: 6px;
  box-shadow: 0 0 1px rgb(var(--lp-color-white));
  transition: transform 0.4s ease, opacity 0.4s ease, background-color 0.4s ease;
  width: 100%;
  height: 3px;
}
body.is_active .header__hamburger > span {
  background-color: rgb(var(--lp-color-white));
}
body.is_active .header__hamburger > span:nth-of-type(1) {
  transform: translateY(6px) rotate(45deg);
}
body.is_active .header__hamburger > span:nth-of-type(2) {
  opacity: 0;
}
body.is_active .header__hamburger > span:nth-of-type(3) {
  transform: translateY(-6px) rotate(-45deg);
}
/* -------------------------------
  ヘッダー_END
------------------------------- */

/* -------------------------------
  メインコンテンツ共通_START
------------------------------- */
.pages {
  position: relative;
}

.section__inner {
  margin: 0 auto;
  width: calc(100% - 3em);
  max-width: 1280px;
}
/* -------------------------------
  メインコンテンツ共通_END
------------------------------- */

/* -------------------------------
  ヒーローイメージ_START
------------------------------- */
.hero {
  background-image: url("../images/hero.png");
  background-size: cover;
  background-position: bottom 30% center;
  display: flex;
  justify-content: center;
  height: 60vh;
}

.hero__inner,
.hero__block {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}

.hero__inner {
  justify-content: space-evenly;
  width: calc(100% - 1em);
}

.hero__block {
  justify-content: center;
  padding-top: 5em;
}

.hero__catchCopy {
  color: rgb(var(--lp-color-white));
  text-align: center;
  margin-bottom: 15%;
}

.hero__catchCopy > * {
  text-shadow: 0 0 24px rgb(var(--lp-color-black));
}

.hero__header {
  font-size: clamp(30px, 6vw, 48px);
  font-weight: 700;
  margin-bottom: 5%;
}

.hero__text {
  font-size: clamp(16px, 4vw, 24px);
}
/* -------------------------------
  ヒーローイメージ_END
------------------------------- */

/* -------------------------------
  サービス_START
------------------------------- */
.service {
  background-color: rgb(var(--lp-color-black));
}

.service__inner {
  padding: 10% 0 12% 0;
  width: calc(100% - 1.5em);
}

.service__catchCopy {
  color: rgb(var(--lp-color-white));
  margin-bottom: 10%;
}

.service__header {
  font-size: clamp(16px, 5vw, 36px);
  font-weight: 700;
  text-align: center;
  margin-bottom: 6%;
}

.service__text {
  font-size: clamp(16px, 4vw, 24px);
  font-weight: 400;
  text-align: left;
  line-height: 1.6;
}

.service__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 0.75em;
  margin: 0 auto;
  width: 100%;
}

.service__list > li {
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
}

.service__list img {
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
}
/* -------------------------------
  サービス_END
------------------------------- */

/* -------------------------------
  機能概要_START
------------------------------- */
.features__inner {
  padding: 10% 0 12% 0;
}

.features__list > li:not(:last-of-type) {
  margin-bottom: 12%;
}

.features__figure {
  display: flex;
  flex-flow: column-reverse wrap;
}

.features__photo {
  display: block;
}

.features__figcaption {
  margin-bottom: 6%;
}

.features__figcaption__h3 {
  color: rgb(var(--lp-color-dark-gray));
  font-size: clamp(24px, 8vw, 32px);
  font-family: "Montserrat", sans-serif;
  position: relative;
}
.features__figcaption__h3::after {
  background-color: rgb(var(--lp-color-dark-gray));
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: -0.05em;
  width: 1.4em;
  height: 2px;
}

.features__figcaption__h4 {
  color: rgb(var(--lp-color-black));
  font-size: clamp(18px, 6vw, 24px);
  font-weight: 700;
}

.features__figcaption__h3,
.features__figcaption__h4 {
  margin-bottom: 0.5em;
}

.features__figcaption__text {
  color: rgb(var(--lp-color-dark-gray));
  font-size: clamp(14px, 5vw, 16px);
}
/* -------------------------------
  機能概要_END
------------------------------- */

/* -------------------------------
  ユーザーボイス_START
------------------------------- */
.voices__inner {
  background-color: rgb(var(--lp-color-bg-white));
  overflow: visible;
  padding: 6% 0;
  max-width: 1080px;
  width: 100%;
}

.voices__catchCopy {
  margin: 0 auto 8% auto;
  padding: 0 1.5em;
  width: 100%;
}

.voices__list {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-direction: row;
  column-gap: 32px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  padding: 0 1.5em 16px 1.5em;
  width: 100%;
}

.voices__list > li {
  border-radius: 16px 16px 0 0;
  flex: 0 0 auto;
  overflow: hidden;
  scroll-snap-align: center;
  width: 69.1%;
}

.voices__figure {
  background-color: rgba(var(--lp-color-white), 1);
  border-radius: 0 0 16px 16px;
  overflow: hidden;
  height: 100%;
}

.voices__image {
  aspect-ratio: 5 / 4;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  width: 100%;
  min-height: 200px;
}

.voices__image__photo {
  object-fit: cover;
  object-position: center;
  min-width: 100%;
  min-height: 100%;
}

.voices__figcaption {
  font-size: 4vw;
  padding: 8vw;
}

.voices__figcaption__h3 {
  color: rgb(var(--lp-color-dark-gray));
  margin-bottom: 4vw;
}
/* -------------------------------
  ユーザーボイス_END
------------------------------- */

/* -------------------------------
  コールトゥアクション_START
------------------------------- */
.share {
  background-image: url("../images/call_action_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  margin-top: 10%;
}

.share::after {
  background-color: rgb(var(--lp-color-black));
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  opacity: 0.5;
  width: 100%;
  height: 100%;
}

.share__inner {
  position: relative;
  z-index: 3;
  opacity: 1;
  overflow: visible;
  margin: 0 auto;
  padding: 8% 0;
  width: calc(100% - 3em);
  max-width: 1080px;
}

.share__catchCopy {
  color: rgb(var(--lp-color-white));
  text-align: center;
  margin-bottom: 10%;
}

.share__header {
  font-size: clamp(16px, 5vw, 36px);
  font-weight: 700;
  line-height: 1;
  margin-bottom: 8%;
}

.share__text {
  font-size: clamp(14px, 4vw, 20px);
  font-weight: 400;
}

.share__button > .common__button {
  margin: 0 auto;
  width: 100%;
}
/* -------------------------------
  コールトゥアクション_END
------------------------------- */

/* -------------------------------
  お問い合わせフォーム_START
------------------------------- */
/* -------------------------------
  お問い合わせフォーム_END
------------------------------- */

/* -------------------------------
  フッター_START
------------------------------- */
.l-footer {
  background-color: rgb(var(--lp-color-black));
  color: rgb(var(--lp-color-white));
  width: 100%;
  height: auto;
}

.footer__inner {
  margin: 0 auto;
  width: calc(100% - 3em);
  max-width: 1280px;
}
/* -------------------------------
  フッター_END
------------------------------- */

/* ===============================

SPレイアウト_END

=============================== */

/* ===============================

PC・タブレットレイアウト_START

=============================== */
@media screen and (min-width: 768px) {
  /* -------------------------------
  ページ共通スタイル_START
  ------------------------------- */
  img {
    max-width: fit-content;
  }
  /* -------------------------------
    ページ共通スタイル_END
  ------------------------------- */

  /* -------------------------------
    サイト共通コンポーネント_START
  ------------------------------- */
  .common__button {
    padding: 16px 32px;
  }

  .common__catchBlock {
    margin-bottom: 80px;
  }

  .common__gradient__header > *:not(:last-child) {
    margin-bottom: 8px;
  }
  /* -------------------------------
    サイト共通コンポーネント_END
  ------------------------------- */

  /* -------------------------------
    ヘッダー_START
  ------------------------------- */
  .header__hamburger {
    display: none;
  }

  .header__list {
    background: none;
    color: rgb(var(--lp-color-black));
    flex-direction: row;
    gap: 1.5em;
    transform: none;
    opacity: 1;
    visibility: visible;
    position: static;
    width: auto;
    height: auto;
  }

  .header__list .common__button {
    padding: 0.5em 1.5em;
  }
  /* -------------------------------
    ヘッダー_END
  ------------------------------- */

  /* -------------------------------
    ヒーローイメージ_START
  ------------------------------- */
  .hero {
    background-position: top 40% center;
    height: 100vh;
  }

  .hero__header {
    margin-bottom: 32px;
  }

  .hero__catchCopy {
    margin-bottom: 64px;
  }
  /* -------------------------------
    ヒーローイメージ_END
  ------------------------------- */

  /* -------------------------------
    サービス_START
  ------------------------------- */
  .service__inner {
    padding: 64px 0;
  }

  .service__catchCopy,
  .service__header {
    margin-bottom: 64px;
  }

  .service__list {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 2em;
    max-width: 896px;
  }
  /* -------------------------------
    サービス_END
  ------------------------------- */

  /* -------------------------------
    機能概要_START
  ------------------------------- */
  .features__inner {
    padding: 64px 0;
  }

  .features__list > li:not(:last-of-type) {
    margin-bottom: 80px;
  }

  .features__figure {
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    justify-content: center;
    gap: 32px;
    margin: 0 auto;
    width: 100%;
    max-width: 1080px;
  }
  .features__list > li:not(:nth-of-type(2n)) .features__figure {
    flex-direction: row-reverse;
  }

  .features__photo {
    flex-shrink: 0;
  }

  .features__figcaption {
    flex: 1;
    margin-bottom: 0;
    min-width: 0;
  }

  .features__figcaption__h3 {
    margin-bottom: 32px;
  }

  .features__figcaption__h4 {
    margin-bottom: 16px;
  }
  /* -------------------------------
    機能概要_END
  ------------------------------- */

  /* -------------------------------
    ユーザーボイス_START
  ------------------------------- */
  .voices__inner {
    border-radius: 16px;
    padding: 64px 0;
  }

  @media screen and (max-width: 1080px) {
    .voices__inner {
      border-radius: 0;
    }
  }

  .voices__catchCopy {
    margin-bottom: 64px;
  }

  .voices__list {
    padding: 0 32px 32px 32px;
  }

  .voices__list > li {
    width: 372px;
  }

  .voices__image {
    height: 250px;
  }

  .voices__figcaption {
    font-size: 16px;
    padding: 32px;
  }

  .voices__figcaption__h3 {
    margin-bottom: 16px;
  }
  /* -------------------------------
    ユーザーボイス_END
  ------------------------------- */

  /* -------------------------------
    コールトゥアクション_START
  ------------------------------- */
  .share {
    margin-top: 64px;
  }

  .share__inner {
    padding: 64px 0;
  }

  .share__catchCopy,
  .share__header {
    margin-bottom: 37px;
  }

  .share__button > .common__button {
    width: fit-content;
  }
  /* -------------------------------
    コールトゥアクション_END
  ------------------------------- */

  /* -------------------------------
    お問い合わせフォーム_START
  ------------------------------- */
  /* -------------------------------
    お問い合わせフォーム_END
  ------------------------------- */

  /* -------------------------------
    フッター_START
  ------------------------------- */
  /* 暫定付与 */
  .footer__inner {
    padding: 50px 100px;
  }
  /* -------------------------------
    フッター_END
  ------------------------------- */
}

/* ===============================

PC・タブレットレイアウト_END

=============================== */
